# Configurações de Banco de Dados
DB_HOST=localhost
DB_PORT=3306
DB_NAME=mecanica
DB_USER=root
DB_PASS=

# Configurações da Aplicação
APP_URL=http://localhost/oficinamecanica.co.ao/
APP_NAME=OFICINA DO BAIRRO

# Dados da Oficina
OFFICE_ADDRESS=Luanda Rua da CTT, Rangel
OFFICE_EMAIL=antjacinto11672@gmail.com
OFFICE_PHONE=+244 931 950 857

# Configurações de Negócio
STOCK_LEVEL=5
DISCOUNT_ORC=SIM
DISCOUNT_VALUE=0.05
VALIDATE_QUOTE_DAYS=5
DELETE_QUOTE_DAYS=15
MECHANIC_COMMISSION=SIM
COMMISSION_VALUE=0.30

# Modo Debug
DEBUG=false
